@{
    ViewBag.Title = "Get & Post method in jQuery.";
}
<div class="form-group text-center margin-top-100">
    <input type="button" class="btn btn-success" datetime-now value="Get datetime now" />
</div>